root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = true

[*.sh]
end_of_line = lf

[*.{pl,rs,conf}]
indent_size = 4

[*.{BAS,bas}]
end_of_line = crlf
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4
