on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
      - name: Build Debug
        run: cargo build
      - name: Test
        run: cargo test
      - name: Build Release
        run: cargo build --release
      - uses: actions/upload-artifact@v4
        with:
          name: linux-artifact
          path: target/release/rusty_basic
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
      - name: Build Debug
        run: cargo build
      - name: Test
        run: cargo test
      - name: Build Release
        run: cargo build --release
      - uses: actions/upload-artifact@v4
        with:
          name: windows-artifact
          path: target/release/rusty_basic.exe
  test-artifacts:
    runs-on: ubuntu-latest
    needs: [build, build-windows]
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: linux-artifact
      - uses: actions/download-artifact@v5
        with:
          name: windows-artifact
      - name: Display structure of downloaded files
        run: ls -R
