on: push
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
      - name: Build Debug
        run: cargo build
      - name: Test
        run: cargo test
      - name: Build Release
        run: cargo build --release
  Build-Windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
      - name: Build Debug
        run: cargo build
      - name: Test
        run: cargo test
      - name: Build Release
        run: cargo build --release
