on: push
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: x86_64-pc-windows-gnu
      - name: Build Debug
        run: cargo build --target x86_64-pc-windows-gnu
      - name: Test
        run: cargo test --target x86_64-pc-windows-gnu
      - name: Build Release
        run: cargo build --release --target x86_64-pc-windows-gnu
