on: push
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: x86_64-pc-windows-gnu
      - name: Build Release Windows
        uses: actions-rs/cargo@v1
        with:
          command: build
          use-cross: true
          args: --release --target x86_64-pc-windows-gnu
