on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"
jobs:
  build-debug:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Build
        run: cargo build
      - name: Test
        run: cargo test
      - name: Clippy
        run: cargo clippy -- -Dwarnings
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --release
      - name: Test
        run: cargo test --release
      - uses: actions/upload-artifact@v4
        with:
          name: linux-artifact
          path: target/release/rusty_basic
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Build
        run: cargo build
      - name: Test
        run: cargo test
  build-windows-release:
    runs-on: windows-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --release
      - name: Test
        run: cargo test --release
      - uses: actions/upload-artifact@v4
        with:
          name: windows-artifact
          path: target/release/rusty_basic.exe
  test-artifacts:
    runs-on: ubuntu-latest
    needs: [build-release, build-windows-release]
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: linux-artifact
      - uses: actions/download-artifact@v5
        with:
          name: windows-artifact
      - name: Display structure of downloaded files
        run: ls -R
