on:
  push:
    tags:
      - v*
jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: x86_64-pc-windows-gnu
      - name: Test
        run: cargo test
      - name: Build Release
        run: cargo build --release
      - name: Build Release Windows
        run: cargo build --release --target x86_64-pc-windows-gnu
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            target/release/rusty_basic
            target/x86_64-pc-windows-gnu/release/rusty_basic.exe
