on:
  push:
    tags:
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
      - name: Build Release
        run: cargo build --release
      - name: Test Release
        run: cargo test --release
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
      - name: Build Release
        run: cargo build --release
      - name: Test Release
        run: cargo test --release
  release:
    runs-on: ubuntu-latest
    needs: [build, build-windows]
    steps:
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            target/release/rusty_basic
            target/x86_64-pc-windows-gnu/release/rusty_basic.exe
